@media screen and (max-width:768px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        gap: 5rem;
    }

    .row .col {
        width: 100%;
    }

    .why-us {
        padding-top: 3rem;
        background-color: #222222;
        margin-bottom: 0;
    }

    .steps {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 769px) and (max-width:1160px) {
    .container {
        width: 100%;
    }

}